extends ./layout.jade

block content
  form(action="/" method="POST")
    input(type="text" name="name" placeholder="name")
    input(type="text" name="phone" placeholder="phone")
    input(type="text" name="subject" placeholder="subject")
    button(type="submit") save